@import "tailwindcss";

:root {
  --background: #f6efe8;
  --foreground: #171717;

  --primary: #f8b6cc;
  --primary-dark: #f38ab2;
  --dark: #2a2a2a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Helpers */

.bg-bg {
  background-color: #f6efe8;
}

.bg-dark {
  background-color: var(--dark);
}

.text-dark {
  color: var(--dark);
}

.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary-dark);
}

/* Smooth UI Feel */

* {
  scroll-behavior: smooth;
}

button,
a {
  transition: all 0.3s ease;
}
